<header>
    <div class="gov-banner">
        <div class="container">
            {{ .Site.Params.gov_name }}
        </div>
    </div>
    <div class="container">
        <div class="nav-container">
            <a href="{{ "" | relURL }}" class="logo">
                <div class="logo-text">{{ .Site.Params.portal_name }}</div>
            </a>
            <nav>
                <ul>
                    {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL | relURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</header>
