<header role="banner">
    <div class="gov-banner">
        <div class="container">
            {{ .Site.Params.gov_name }}
        </div>
    </div>
    <div class="container">
        <div class="nav-container">
            <a href="{{ "" | relURL }}" class="logo" aria-label="{{ .Site.Params.portal_name }} Home">
                <div class="logo-text">{{ .Site.Params.portal_name }}</div>
            </a>
            <nav id="main-nav" role="navigation" aria-label="Main Navigation">
                <ul role="menubar">
                    {{ range .Site.Menus.main }}
                    <li role="none"><a href="{{ .URL | relURL }}" title="{{ .Name }}" role="menuitem">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</header>
